<nav>
    <div class = "Site-title">
         <a href = "/"><h1>My Food Blog</h1></a>
        <p>A Food Site</p>
    </div>
    <ul>
        <li><a href = "/">Blog</a></li>
        <li><a href = "/about">About</a></li>
        <li><a herf = "/blogs/create">New Blog</a></li>
    </ul>
</nav>